.comments {
  margin: 0 auto;
  max-width: 768px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }

  &__form-title {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px;
  }

  /* form */

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 20px;

    border-radius: 10px;
    padding: 20px 30px;
    background-color: #fff;

    @media screen and (max-width: 530px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__input {
    height: 42px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #F1F3F6;
    border: none;
    color: #6a6a6a;
    outline: none;

    &::placeholder {
      color: #bdbebd;
    }

    &_type_error {
      border: 2px solid #F47174;
    }

    &[name='author'] {
      grid-row: 2/3;
      grid-column: 1/2;
    }

    &[name='date'] {
      grid-row: 2/3;
      grid-column: 2/3;
    }
  }

  &__text {
    grid-column: 1/3;
    grid-row: 4/5;
    resize: none;
    height: 100px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #F1F3F6;
    border: none;
    color: #6a6a6a;
    outline: none;

    &::placeholder {
      color: #bdbebd;
    }

    &_type_error {
      border: 2px solid #F47174;
    }
  }

  &__input-error {
    height: 25px;
    font-size: 11px;
    color: #F47174;
    opacity: 1;

    @media screen and (max-width: 530px) {
      font-size: 9px;
      height: 18px;
    }
  }

  &__input-error_type_text {
    grid-column: 1/3;
    grid-row: 5/6;
    height: 12px;
    margin-bottom: 10px;
  }

  &__submit-btn {
    padding: 0;
    border: none;
    font: inherit;
    color: #6a6a6a;
    cursor: pointer;

    grid-column: 1/3;
    grid-row: 6/7;
    width: 160px;
    height: 42px;
    border-radius: 5px;
    background: linear-gradient(180deg, #f1f3f6 0, #d4e2ec 100%);
  }

  &__submit-btn_inactive {
    border: 2px solid #bdbebd;
    background: transparent;
    color: #bdbebd;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0 10px 5px;
  }

  /* comments */

  &__container {
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
  }

  &__item {
    margin-top: 15px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}